 <div class="welcome-container">
      <div class="user-image"> 
          <i class="fas fa-user-circle"></i>
      </div> 
      {{!-- end of golo image div --}}

    <div class="welcome-user">
        <h3 >Welcome {{user.username}}</h3>
      	<p><i class="fas fa-envelope-open-text"></i> info@xyzlab.com</a>&nbsp; &nbsp; &nbsp;<i class="fas fa-phone-square"></i> +977 1 5546684</p>
			<p><i class="fas fa-map-marked-alt"></i> Haugal, Mangalbazar , Lalitpur</p>
    </div>

    

    <div>
      <a href=""><button class="edit-btn">EDIT PROFILE</button></a>
    </div>
    
  </div>
  {{!-- end of welcome container --}}

<div class="user-dashboard">
   <div class="test-container">
    <h3>AVAILABLE TESTS</h3>
    <hr>
    <form action="#">
       <ul >
      {{#each tests}}
      <li class="listHolder"> 
        <input type="checkbox" name="testList" value=""> {{this.name}}
         <span class="popup">
           <div class="popup-title">
              <h3>{{this.name}}</h3>
              <h4> &euro; {{this.price}}</h4>
           </div>
          
           <p>{{this.description}}</p>

         </span>
      </li>
      {{/each}}
    </ul>
    <div class="test-submit-button-container">
        <button class="button-primary test">Submit</button>
    </div>
    
    </form>
   

  </div>

<div class="table-container"> 
    <table class="main-table" >
    <thead>
      <tr class="table-row">
        <th>TEST NAME</th>
        <th>START DATE</th>
        <th>STATUS</th>
        <th>DELETE</th>
      </tr>
    </thead>

    <tbody>
      <tr class="table-row">
      </tr>
      <tr>
          <td class="table-division">Phospate in Blood</td>
          <td class="table-division">9-September-2019</td>
          <td class="table-division">Started</td>
           <td> <a href=""><i class="fas fa-calendar-times"></i> </a></td>
      </tr>
       <tr>
          <td class="table-division">Troponin Test</td>
          <td class="table-division">9-September-2019</td>
          <td class="table-division">Started</td>
           <td> <a href=""><i class="fas fa-calendar-times"></i> </a></td>
      </tr>
      <tr>
          <td class="table-division">Troponin Test</td>
          <td class="table-division">9-September-2019</td>
          <td class="table-division">Started</td>
           <td> <a href=""><i class="fas fa-calendar-times"></i> </a></td>
      </tr>
      <tr>
          <td class="table-division">Troponin Test</td>
          <td class="table-division">9-September-2019</td>
          <td class="table-division">Started</td>
           <td> <a href=""><i class="fas fa-calendar-times"></i> </a></td>
      </tr>
      <tr>
          <td class="table-division">Troponin Test</td>
          <td class="table-division">9-September-2019</td>
          <td class="table-division">Started</td>
           <td> <a href=""><i class="fas fa-calendar-times"></i> </a></td>
      </tr>
        <tr>
          <td class="table-division">Troponin Test</td>
          <td class="table-division">9-September-2019</td>
          <td class="table-division">Started</td>
           <td> <a href=""><i class="fas fa-calendar-times"></i> </a></td>
      </tr>
        <tr>
          <td class="table-division">Troponin Test</td>
          <td class="table-division">9-September-2019</td>
          <td class="table-division">Started</td>
           <td> <a href=""><i class="fas fa-calendar-times"></i> </a></td>
      </tr>
      
    </tbody>
  </table>

  </div>


  
</div>