 <div class="welcome-container">
      <div class="user-image item"> 
        <i class="fas fa-user-circle"></i>
      </div> 
      {{!-- end of golo image div --}}

     <div class="welcome-user">
        <h3 >Welcome <span id="logged-user-name">{{user.username}}</span></h3>
      	<p><i class="fas fa-envelope-open-text"></i> {{user.email}}</a>&nbsp; &nbsp; &nbsp;<i class="fas fa-phone-square"></i> {{user.phone}}</p>
			  <p><i class="fas fa-map-marked-alt"></i> {{user.address}}</p>
     </div>

  
     <div class="item">
        <a href="/login/{{user._id}}"><button class="edit-btn">EDIT PROFILE</button></a>
     </div>
    
  </div>
  {{!-- end of welcome container --}}

<div class="user-dashboard">
   <div class="test-container">
    <h3>AVAILABLE TESTS</h3> <span><a href="/user/add-test" class="add-test"><i class="fas fa-plus-circle">Add Tests</i></a></span>
    <hr>
    <ul >
        {{#each tests}}
            <li class="listHolder"> 
                <input class="testCheckBox" id="{{this._id}}" type="checkbox" name="testList" value="{{this._id}}"> 
                <label for="{{this._id}}">{{this.name}}</label>
                  <span class="popup">
                    <div class="popup-title">
                        <h3>{{this.name}}</h3>
                        <h4> &euro; {{this.price}}</h4>
                    </div>
              
                    <p>{{this.description}}</p>
                  </span>
            </li>
        {{/each}}
    </ul>

    <div class="test-submit-button-container">
       <button class="button-primary test" id="test-submit" onclick="testSubmit()">Submit</button>
    </div>
  </div>

<div class="table-container"> 

    <table class="main-table" >
      <thead>
          <tr class="table-row">
            <th>TEST NAME</th>
            <th>START DATE</th>
            <th>STD VALUE</th>
            <th>RESULT</th>
            <th>STATUS</th>
            <th>ACTION</th>
          </tr>
      </thead>

      <tbody class="table-body">
          {{#each userTests}}
              <tr>
                  <td class="table-division">{{this.test_ids.name}}</td>
                  <td class="table-division">{{this.date}}</td>
                  <td class="table-division">{{this.test_ids.normal_value}}</td>
                  <td class="table-division"><input type="text" class="result-value" value={{this.result}}></td>
              
                  <td class="table-division status">{{this.status}}</td>
                  <td>
                      <a href="#"><i class="fas fa-save saveUserTest" id={{this._id}}></i></a>&nbsp;&nbsp;
                      <a href="/user/delete/{{this._id}}"><i class="fas fa-calendar-times deleteUserTest" id={{this._id}}></i></a> 
                    
                  </td>
                </tr>
          {{/each}}
    </tbody>
  </table>

</div>
  {{!-- end of table-container --}}
  
</div>